
 
<tr class="new" >  
  <td style="min-width:50px;max-width:50px">
  <%- "<input type=\"checkbox\" name=\"" + job.id + "\" value=\"" + job.id + "\" onClick=\"select()\">"
  %>
  </td>
  <td style="min-width:52px;max-width:52px">
    <a href="/job/<%= job.id %>" >More</a>
    <a href="/job/<%= job.id %>/edit" >Edit</a>
  </td>
  
  <td style="min-width:113px"><%= job.createdAt.getMonth() + 1 + "/" + job.createdAt.getDate() + "/" + job.createdAt.getFullYear() %></td>
  <td style="min-width:130px;max-width:130px"><%= job.get('EmployerIndustryTypes') %></td>
  <td style="min-width:94px;max-width:94px"><%= job.get('jobTitle') %></td>
  <td style="min-width:130px;max-width:130px"><%= job.get('company') %></td>  
  <td style="min-width:94px;max-width:94px"><%= job.get('city') %></td>  
  <td style="min-width:55px; max-width:55px"><%= job.get('zipcode') %></td> 
  <td style="min-width:130px;max-width:130px"><%= job.get('address') %></td>  
  
  <td style="min-width:86px;max-width:86px"><%= job.get('minAge') %></td> 
  <td style="min-width:86px;max-width:86px"><%= job.get('salary') %></td> 
  <td style="min-width:86px;max-width:86px"><%= job.get('fullTime') %></td>
  <td style="min-width:86px;max-width:86px"><%= job.get('numOpenings') %></td>  
  <td style="min-width:110px;max-width:110px"><%= job.get('hoursPerWeek') %></td>  
  
  <td style="min-width:144px;max-width:144px"><%= job.get('educationRequirement') %></td>  
  <td style="min-width:110px;max-width:110px"><%= job.get('qualifications') %></td>  
  <td style="min-width:130px;max-width:130px"><%= job.get('driver') %></td>
  <td style="min-width:148px;max-width:148px"><%= job.get('backgroundCheck') %></td>
  <td style="min-width:89px;max-width:89px"><%= job.get('drugTest') %></td>
  <td style="min-width:110px;max-width:110px"><%= job.get('comment') %></td>
  
  
  <td style="min-width:120px;max-width:120px"><%= job.get('hiringProcess') %></td>  
  <td style="min-width:120px;max-width:120px"><%= job.get('contact') %></td>
  <td style="min-width:148px;max-width:148px"><%= job.get('email') %></td>
  <td style="min-width:120px;max-width:120px"><%= job.get('phone') %></td>
  <td style="min-width:52px;max-width:52px">
  	<a href="/job/<%= job.id %>" >More</a>
  </td>
  <td style="min-width:46px;max-width:46px">
  	<a href="/job/<%= job.id %>/edit" >Edit</a>
  </td >
  <td style="min-width:65px;max-width:80px">
    <form id="delete<%= job.id %>" method="POST" action="/job/<%= job.id %>" onsubmit="return confirm('Are you sure you want to delete this job opening?')">
      <input type="hidden" name="_method" id="requestType" value="DELETE" />
      <a onclick="document.getElementById('delete<%= job.id %>').submit();">Delete</a>
    </form>
  </td>
</tr>