<tr>  
  <td>
  <%- "<input type=\"checkbox\" name=\"" + client.id + "\" value=\"" + client.id + "\">"
  %>
  </td>
  <td><%= client.get('firstName') %></td>
  <td><%= client.get('lastName') %></td>  
  <td><%= client.get('email') %></td>  
  <td><%= client.createdAt.getMonth() + 1 + "/" + client.createdAt.getDate() + "/" + client.createdAt.getFullYear() %></td>
  <td><%= client.get('advisorFirstName') %> <%= client.get('advisorLastName') %></td>
  <td>
    <a href="/client/<%= client.id %>" >More</a>
  </td>
  <td>
    <a href="/client/<%= client.id %>/edit" >Edit</a>
  </td>
  <td>
    <form id="delete<%= client.id %>" method="POST" action="/client/<%= client.id %>" onsubmit="return confirm('Are you sure you want to remove this client?')">
      <input type="hidden" name="_method" id="requestType" value="DELETE" />
      <a onclick="document.getElementById('delete<%= client.id %>').submit();">Remove</a>
    </form>
  </td>
</tr>